body{
    background-color: black;
    color: white;
}
.container {
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
  }
  a{
    text-decoration: none;
    color:white;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
logo{
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color: white;
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: black;
}
.payment h5{
    color: white;
}
section{
    margin-top: 4rem;
}
.produk{
    display: flex;
    justify-content: center;
    gap: 2rem;
}