body,
html {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    min-width: 100%;
    background-color: #050607;
    font-family: "Poppins";
}

.navbar-nav .nav-link.active {
    color: #44d62c;
}

.navbar-nav a {
    text-decoration: none;
}

.navbar-nav a:hover {
    color: #44d62c;
}

.navbar-brand:hover {
    color: #fefefe;
}

.navbar-toggler {
    background-color: #fefefe;
}

.hero-1 {
    background: url("https://i.ibb.co/9pvGJxs/tagline.png") center scroll;
    background-repeat: no-repeat;
    width: 100vw;
    height: 720px;
    background-size: cover;
    background-color: #050607;
    position: relative;
}

#btn-login {
    background: none;
    border: none;
    font-size: 14px;
    color: #fefefe;
    text-decoration: none;
}

#btn-login:hover {
    color: #44d62c;
}

#btn-register {
    background: #44d62c;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    color: #050607;
    padding: 8px 16px;
    margin-left: 12px;
    cursor: pointer;
}

#btn-register:hover {
    background-color: #005700;
    color: rgb(254, 254, 254, 0.65);
}
